@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
:root {
  /* Typo */
  --font-tittle: "Fraunces", serif;
  --font-text: "Barlow", sans-serif;

  /* Colors */
  --white: white;
  --black: black;
  --gray: gray;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--white);
}
body {
  font-family: system-ui;
  font-weight: normal;
}
/* Estilos generales */
.row {
  display: flex;
  flex-flow: row wrap;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 33.33%;
  padding: 0 2rem;
}
.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
.img-fluid {
  width: 100%;
  vertical-align: middle;
}

/* Home */
.home {
  background: url("../images/desktop/image-header.jpg") center / cover;
}
.home header {
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.logo img {
  vertical-align: middle;
}
.home menu a {
  padding: 0.8rem 1rem;
  margin: 0 0.4rem;
}
.home menu a:last-child {
  color: black;
  background: var(--white);
  border-radius: 50px;
  text-transform: uppercase;
  font-family: var(--font-tittle);
}
.icon-menu {
  display: none;
}
.home-content {
  text-align: center;
  padding: 4rem 0 15rem;
}
.home-content h2 {
  font-family: var(--font-tittle);
  color: var(--white);
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 4rem;
}
/* Home */
/* Posts */
.posts .container {
  width: 100%;
}
.posts .row {
  align-items: center;
}
.item-text,
.item-img,
.item-service {
  flex-basis: 50%;
}
.item-text {
  padding: 0 5rem;
}
.item-text h2 {
  font-family: var(--font-tittle);
  font-size: 2.6em;
}
.item-text p {
  margin: 2rem 0;
  line-height: 26px;
}
.item-text a {
  font-family: var(--font-tittle);
  color: var(--black);
  text-transform: uppercase;
  position: relative;
}
.item-text a::before {
  content: "";
  width: 115%;
  height: 10px;
  border-radius: 100px;
  background: hsl(51, 100%, 49%);
  opacity: 0.5;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.item-service {
  position: relative;
  text-align: center;
}
.item-service > div {
  position: absolute;
  bottom: 3rem;
  padding: 0 3rem;
}
.item-service h2 {
  font-family: var(--font-tittle);
  font-size: 1.8em;
  margin-bottom: 1.4rem;
  color: rgba(0, 0, 0, 0.65);
}
.item-service p {
  line-height: 26px;
}
/* Posts */
/* testimonials */
.testimonials {
  text-align: center;
  padding: 8rem 0;
}
.testimonials h3 {
  font-family: var(--font-tittle);
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: var(--gray);
}
.testimonials .container {
  width: 80%;
}
.testimonials article img {
  border-radius: 100%;
  width: 6rem;
}
.testimonials article p {
  margin: 3rem 0;
}
.testimonials article h4 {
  font-family: var(--font-tittle);
  margin-bottom: 0.8rem;
}
.testimonials article small {
  color: var(--gray);
}
/* testimonials */
/* gallery */
.gallery .container {
  width: 100%;
}
/* gallery */
/* Footer */
footer {
  text-align: center;
  background: hsl(165, 37%, 72%);
  padding: 3rem 0;
}
footer picture img {
  width: 12rem;
}
footer .footer-nav {
  margin: 2rem 0 4rem;
}
footer .footer-nav a {
  margin: 0 1rem;
  color: hsl(167, 40%, 24%);
}
footer .icons-social-network a {
  margin: 0 1rem;
}
/* Footer */
/* media queries */
@media only screen and (max-width: 1600px) {
  .posts .container,
  .gallery .container {
    width: 100%;
    max-width: none;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 85%;
  }
  /* home */
  .home {
    background: url("../images/mobile/image-header.jpg") no-repeat center bottom /
      cover rgba(62, 191, 255, 255);
  }
  .home menu {
    display: none;
  }
  .icon-menu {
    display: block;
    cursor: pointer;
  }
  .home-content {
    padding: 4rem 0 8rem;
  }
  .home-content h2 {
    font-size: 2.5em;
  }
  /* posts */
  .item-text,
  .item-img,
  .item-service {
    flex-basis: 100%;
  }
  .item-text {
    text-align: center;
    padding: 5rem 2rem;
  }
  .item-text h2 {
    font-size: 2em;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .order-3 {
    order: 3;
  }
  .order-4 {
    order: 4;
  }
  .order-5 {
    order: 5;
  }
  .order-6 {
    order: 6;
  }
  .item-service > div {
    padding: 0 2rem;
  }
  /* testimonials */
  .testimonials {
    padding: 4rem 0;
  }
  .testimonials .col-4 {
    flex-basis: 100%;
    margin-bottom: 4rem;
  }
  .testimonials .col-4:last-child {
    margin-bottom: 0;
  }
  /* gallery */
  .gallery .col-3 {
    flex-basis: 50%;
  }
}
