/* Variables */
:root {
  /* Primarios */
  --soft-blue: hsl(200, 100%, 62%);
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%); 
  --bg-testimonials:hsl(26, 100%, 99%);
  --bg-footer:hsl(167, 44%, 70%);
  

  /* Neutrales */
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Typo */
  --title: "Fraunces", serif;
  --text: "Barlow", sans-serif;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
body {
  font-family: system-ui;
  font-weight: normal;
}
.container {
  width: 95%;
  margin: 0 auto;
  /*max-width: 1440px;*/
  }
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }
/* Home */
.home {
  background: url("../images/desktop/image-header.jpg") var(--soft-blue) center;
  background-size: cover;
}
.home header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.logo img {
  vertical-align: middle;
}
.home menu a {
  padding: 0.8rem 1.4rem;
  color: var(--white);
}
.home menu a:last-child {
  font-family: var(--title);
  background: white;
  color: black;
  border-radius: 50px;
  text-transform: uppercase;
}
.home-content {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 16rem;
}
.home-content h2 {
  font-family: var(--title);
  color: var(--white);
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 8px;
  margin-bottom: 4rem;
}



/*fruits*/
.container_fruits{
  display: flex;
  grid-row: auto auto;  
  }
.container_fruits h3{
  font-family:var(--title);
}
.container_fruits p{
  font-family:var(--text);
} .container_fruits

.cereza{
  background-image: url(../images/desktop/image-graphic-design.jpg);
  color: var(--dark-desaturated-cyan);
 }
.orange{
  background-image: url(../images/desktop/image-photography.jpg);
  color: var(--dark-desaturated-cyan);
}


/*testimonials*/
.testimonials{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  margin-top: 5em;
  background-color:var(--bg-testimonials);
  background-size: cover;
}
.testimonials h2{
  margin: 3em 0em; 
  font-family: var(--title);
  text-align:center;
  color: var(--grayish-blue);
}
.client {
  display: flex;
  flex-direction: row ;
 }
.client article {
  padding: 1em 1.5em;
  text-align:center;
}
.client img{
  width: 4em;
  border-radius: 5em;
}
.client p{
  margin:2em 0;
  font-family: var(--text);
  color:var(--very-dark-grayish-blue);
  line-height: 2em;
  font-size: 18px;
}
.client div {
  margin:4em 0;
}
.client div p {
  margin:1em 0;
  color:var(--grayish-blue);
  font-size: 13px;
}
.client span {
  font-family: var(--title);
  color: var(--very-dark-desaturated-blue);
  font-size: 19px;  
  }

/*Gallery*/
.container_gallery {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-footer);
  justify-content: center;
}
.container_gallery img {
  width: 23.74em;
  height: auto;
}

  /* footer*/

.footer{
  background-color:var(--bg-footer);
  padding: 4em 0em 4em 0em; 
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.footer div menu {
  margin: 2.5em 0;
}
.footer div menu a {
  margin: 0 1em;
  color:var(--dark-desaturated-cyan) ;
  font-family: var(--text);  
}
.footer div article {
  text-align:center;
}
.footer div article a {
  margin: 0 1em;
}

